.container-height {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-page {
  background-image: url("book4.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  background-color: #f1f8ff;
  background-image: linear-gradient(to bottom right, #f4d2c3, #e1deda);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(200, 155, 168, 0.3);
  width: 400px; /* Increase the width as desired */
  height: 400px; /* Increase the height as desired */
  position: relative;
}

.register-title {
  font-size: 28px;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

.register-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Adjust the width as desired */
  height: 100%; /* Adjust the height as desired */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-button {
  background-color: #222e46;
  color: #ffffff;
  width: 100%;
}

.register-button:hover {
  background-color: #001c33;
}

label {
  color: #0e1a32; /* Set label text color to black */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  color: #333333;
}
